@model Shop_ThuCung.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layouts.cshtml";
}


<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            @using (Html.BeginForm("Create", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-user", @placeholder = "User Name..." })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-user", @placeHolder = "PassWord ..." })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-user", @placeholder = "Name..." })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control form-control-user", @placeholder = "Address..." })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-user", @placeholder = "Email..." })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control form-control-user", @placeholder = "Phone..." })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.Status) Status
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-info" />
                    </div>

                </div>
            }
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Header{
    Thêm mới người dùng
}
